<!DOCTYPE html>
<html ng-app="mainApp">

<head>
  <title></title>
  <meta charset="utf-8">
</head>

<body>
  <h1>HI :(</h1>  
  <div ng-view></div>
  
  <script src="/jquery-3.1.1.js"></script>
  <script src="angular.js"></script>
  <script src="angular-route.js"></script>
  <script src="app.module.js"></script>
  <script src="app.routes.js"></script>

  <script src="tweet/tweet.controller.js"></script>
  <!-- 
  <script src="follower/follower.controller.js"></script>
  <script src="following/following.controller.js"></script> -->

</body>

</html>