<!DOCTYPE html>
<html ng-app = "mainApp">

	<head>
	  	<title> [CMSC 127] </title>
	  	<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
	</head>

	<body>
		<div class = "ui centered row">
        	<div class = "four wide column">
        		<form ng-controller="loginController as login" ng-submit="login.loginUser()">
        			<div class="ui input">
        				<input type="text" placeholder="Username" ng-model="login.username"></input>
        				<input type="text" placeholder ="Password" ng-model="login.password"></input>
        				<button class="ui button" type="submit" ng-click="login.loginUser()">Login</input>
        			</div>
        		</form>

		<script src="jquery-3.1.1.js"></script>
		<script src="semantic/semantic.min.js"></script>
		<script src="angular.js"></script>
		<script src="app.module.js"></script>
		<script src="angular-route.js"></script>
		<script src="login.controller.js"></script>

	</body>
</html>